/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 26, 2016, 9:58:36 PM
    Author     : MJLee
*/

.bar {
    fill: steelblue;
}

.navigator .data{
    fill: lightgrey;
    stroke-width: 0px;
}

.navigator .line{
    fill: none;
    stroke: darkgrey;
    stroke-width: 1px;
}
 .navigator .viewport{
    stroke: grey;
    fill: black;
    fill-opacity: 0.2;
}
 .viewport .overlay{
     stroke: none;
     fill: none;
 }